<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="__smallcreateddate">
                Sitecore.Support.ContentSearch.ComputedFields.CreatedDate,Sitecore.Support.178247
              </field>
              <field fieldName="__smallupdateddate">
                Sitecore.Support.ContentSearch.ComputedFields.UpdatedDate,Sitecore.Support.178247
              </field>
            </fields> 
          </documentOptions>
        </defaultSolrIndexConfiguration>      
      </indexConfigurations>      
    </contentSearch>    
  </sitecore>
</configuration>